.card {
    /* position: relative; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
    max-width: 450px;
    margin-top:5% !important;
    margin-bottom: 5% !important;
    display: block;
    margin: auto;
    text-align: center;
  }
  